<div class="row">
<div class="col-sm">
<h1> All Events </h1>
</div>
</div>

<div class ="row">
<div class="col-sm">
<% for each_event in @events %>
<p> <%= each_event[:title] %> </p>
<% end %>
</div>
</div>